{% extends "layout.html.twig" %}

{% block content %}
      <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}"> 
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/layout.css') }}">
<div class="main_content">
    <h1>Hello Shisheyu ! </h1>
    <h3>What do you want ?  </h3>
    <h2><a href="{{ path('admin/addItem') }}">Add an item </a></h2>
    <h2><a href="{{ path('admin/seeNews') }}">Manage news</a></h2>

</div>

{% endblock %}
