{% extends "layout.html.twig" %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/items.css') }}">

      <div class="box_description">
        Hover or click an item for more info
      </div>


      <ul class="itemlist">
        {% for item in itemsList %}
        <li class="itembox" id="item-{{item.id}}" data-toggle="modal" data-target="modal-item-{{item.id}}">
          <img class="pixel" src="img/sprite/{{item.img}}">
        </li>
        {% endfor %}
      </ul>





    <!-- The Modal -->
    <div id="itemModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-head">
            <span class="close">&times;</span>
            <h2 class="modal-title"></h2>
        </div>
        <div class="modal-body">
          <img class =" pixel" id="modal-img" src="">
          <p class=" modal-text"></p>
        </div>
      </div>
    </div>
    <!-- end of Modal -->

    <script>


//##############Item list #################
    var itemList = {{itemJson|raw}};

    var modal = document.getElementById('itemModal');

  // When the user hover the box, show stats
    $('.itembox').mouseenter(function (e) {
      var id = $(this).attr('id');
      itemList.forEach(function (item) {
        if ("item-" + item.id == id) {

          $(".box_description").text(item.name);
          $("#modal-img").attr("src","img/sprite/"+ item.img );
        };
      });
    }).mouseleave(function (e) {
      $(".box_description").text("Hover or click an item for more info");
    });


    // When the user clicks on the box, open the modal
  $('.itembox').click(function (e) {
    var id = $(this).attr('id');
    itemList.forEach(function (item) {
      if ("item-" + item.id == id) {
        $(".modal-text").text(item.description);
        $('.modal-title').text(item.name);
        $("#modal-img").attr("src","img/sprite/"+ item.img );
        modal.style.display = "block";
      };
    });
  });
  $('.close').click(function(){
    modal.style.display = "none";
  })

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


  </script>

    {% endblock %}
