{% extends "layout.html.twig" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/items.css') }}">
<div class="main_content">
  <h1>Hello Stillbirth</h1>
  <h3>Some of our items</h3>

  <ul class="itemlist" >
    <li class="itembox"> <img  class="item " src="{{ asset('img/sprite/babyblender.png') }}" alt="logo Stillbirth"/>  </li>
    <li class="itembox"> <img  class="item " src="{{ asset('img/sprite/blindpact.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/cricketscollar.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/diamondickycard.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/firstblood.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item " src="{{ asset('img/sprite/babyblender.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/blindpact.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/cricketscollar.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/diamondickycard.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/firstblood.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/babyblender.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/blindpact.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/cricketscollar.png') }}" alt="logo Stillbirth" /></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/diamondickycard.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/firstblood.png') }}" alt="logo Stillbirth"/> </li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/babyblender.png') }}" alt="logo Stillbirth"/> </li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/blindpact.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/cricketscollar.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/diamondickycard.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/firstblood.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/babyblender.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/blindpact.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/cricketscollar.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/diamondickycard.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/firstblood.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/babyblender.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/blindpact.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/cricketscollar.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/diamondickycard.png') }}" alt="logo Stillbirth"/></li>
    <li class="itembox"> <img  class="item" src="{{ asset('img/sprite/firstblood.png') }}" alt="logo Stillbirth"/> </li>
  </ul>

</div>

{% endblock %}
